<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="userService"
          class="com.ineyee.springbeanlifecycle.service.UserServiceImpl"
          init-method="onInit"
          destroy-method="onDestroy">
        <property name="userDao" value="null"/>
    </bean>

    <bean class="com.ineyee.springbeanlifecycle.processor.BeanProcessor"/>
</beans>