<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<!--
    configuration 标签里的内容必须按下面的顺序编写：
        1、properties (可选)
        2、settings (可选)
        3、typeAliases (可选)
        4、typeHandlers (可选)
        5、objectFactory (可选)
        6、objectWrapperFactory (可选)
        7、reflectorFactory (可选)
        8、plugins (可选)
        9、environments (可选)
        10、databaseIdProvider (可选)
        11、mappers (可选)
-->
<configuration>
    <!-- 其它设置 -->
    <settings>
        <!--
            是否开启驼峰命名自动映射，即数据库表自动转 Java Bean 时是否从经典数据库列名 create_time 映射到经典 Java 属性名 createTime
            默认 false
        -->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>

    <!--
        环境，一个环境对应一个数据库
        开发阶段，我们可以把默认环境设置为开发环境，从而访问测试数据库
        生产阶段，我们可以把默认环境设置为生产环境，从而访问正式数据库
    -->
    <environments default="many_to_many">
        <!-- ont_to_one -->
        <environment id="ont_to_one">
            <transactionManager type="JDBC"/>
            <dataSource type="common.DruidDataSourceFactory">
                <property name="driverClassName" value="com.mysql.cj.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://localhost:3306/one_to_one?serverTimezone=UTC"/>
                <property name="username" value="root"/>
                <property name="password" value="mysqlroot"/>
                <property name="initialSize" value="5"/>
                <property name="maxActive" value="10"/>
            </dataSource>
        </environment>
        <!-- one_to_many -->
        <environment id="one_to_many">
            <transactionManager type="JDBC"/>
            <dataSource type="common.DruidDataSourceFactory">
                <property name="driverClassName" value="com.mysql.cj.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://localhost:3306/one_to_many?serverTimezone=UTC"/>
                <property name="username" value="root"/>
                <property name="password" value="mysqlroot"/>
                <property name="initialSize" value="5"/>
                <property name="maxActive" value="10"/>
            </dataSource>
        </environment>
        <!-- many_to_many -->
        <environment id="many_to_many">
            <transactionManager type="JDBC"/>
            <dataSource type="common.DruidDataSourceFactory">
                <property name="driverClassName" value="com.mysql.cj.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://localhost:3306/many_to_many?serverTimezone=UTC"/>
                <property name="username" value="root"/>
                <property name="password" value="mysqlroot"/>
                <property name="initialSize" value="5"/>
                <property name="maxActive" value="10"/>
            </dataSource>
        </environment>
    </environments>

    <!-- 注册数据库表自动转 Java Bean 的映射文件 -->
    <mappers>
        <mapper resource="mappers/singer1.xml"/>
        <mapper resource="mappers/song1.xml"/>
        <mapper resource="mappers/singer2.xml"/>
        <mapper resource="mappers/song2.xml"/>
        <mapper resource="mappers/singer3.xml"/>
        <mapper resource="mappers/song3.xml"/>
    </mappers>
</configuration>