<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/aop
       https://www.springframework.org/schema/aop/spring-aop.xsd">
    <!-- 这个是业务层对象 -->
    <bean id="userService" class="com.ineyee._04_aop.service.UserServiceImpl"/>
    <bean id="orderService" class="com.ineyee._04_aop.service.OrderService"/>

    <!-- 这个是控制器层对象 -->
    <bean id="userServlet" class="com.ineyee._04_aop.servlet.UserServlet">
        <!-- 这里给控制器层注入的是业务层对象 -->
        <property name="userService" ref="userService"/>
    </bean>
    <bean id="orderServlet" class="com.ineyee._04_aop.servlet.OrderServlet">
        <!-- 这里给控制器层注入的是业务层对象 -->
        <property name="orderService" ref="orderService"/>
    </bean>

    <!-- 注册一下 LogInterceptor，使其生效，我们的附加代码就在这个里面 -->
    <bean id="logInterceptor" class="com.ineyee._04_aop.aop.LogInterceptor"/>
    <!-- 切面 -->
    <aop:config>
        <!--
            切入点：给哪些类的哪些方法附加代码
                id 属性：切入点的唯一标识
                expression 属性：该属性的常见值为 @annotation(xxx) 和 execution(xxx)
                    @annotation(xxx) 是通过方法注解匹配方法
                    execution(xxx) 是通过方法定义匹配方法

                1、@annotation(xxx)
                    @annotation(xxx) 表示匹配所有带有 @xxx 注解的方法，比如 @annotation(java.lang.Override) 表示匹配所有带有 @Override 注解的方法
                    实际开发中，我们经常会自定义注解来配合 @annotation(xxx) 来使用，写上自定义注解的全名即可
                2、execution(xxx)
                    当值为 execution(* *(..)) 时，表示给所有类的所有方法附加代码
                    第一个 * 的位置，用来匹配方法的返回值类型
                        * 表示任意返回值类型
                        void、int、String 等表示某个具体返回值类型
                    第二个 * 的位置，用来匹配方法名
                        * 表示任意方法名
                        com.ineyee._04_aop.service.*.* 表示这个包里所有类的所有方法（不包含子包里的）
                        com.ineyee._04_aop.service..*.* 表示这个包及其子包里所有类的所有方法
                        com.ineyee._04_aop.service.UserService.* 表示这个类里所有的方法
                        com.ineyee._04_aop.service.UserService.login 表示这个类里的 login 方法
                    (..) 的位置，用来匹配方法的参数列表
                        (..) 表示任意个数、任意类型的参数
                        (T, ..) 表示第一个参数是确定类型 T，后面是任意个数、任意类型的参数
                        (T1, T2) 表示有两个参数，第一个参数是确定类型 T1，第二个参数是确定类型 T2
                        (*) 表示有一个参数，参数类型任意
                        () 表示无参
        -->
        <aop:pointcut id="pointcut" expression="execution(* com.ineyee._04_aop.service.UserService.*(..))"/>
        <!-- 我们可以写多个切入点来配置不同的附加规则 -->
        <aop:pointcut id="pointcut1" expression="execution(* com.ineyee._04_aop.service.OrderService.pay(..))"/>

        <!-- 通知：按照切入点【pointcut-ref】的配置把附加代码【advice-ref】给附加上去 -->
        <aop:advisor pointcut-ref="pointcut" advice-ref="logInterceptor"/>
        <aop:advisor pointcut-ref="pointcut1" advice-ref="logInterceptor"/>
    </aop:config>
</beans>