<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!-- 这个是业务层对象 -->
    <bean id="userService" class="com.ineyee._02_staticproxy.service.UserServiceImpl"/>

    <!-- 这个是业务层代理对象 -->
    <bean id="userServiceProxy" class="com.ineyee._02_staticproxy.proxy.UserServiceProxy">
        <!-- 这里给业务层代理注入的是业务层对象 -->
        <property name="userService" ref="userService"/>
    </bean>
<!--    <bean id="userServiceProxy" class="com.ineyee._02_staticproxy.proxy.UserServiceProxy1">-->
<!--        &lt;!&ndash; 这里给业务层代理注入的是业务层对象 &ndash;&gt;-->
<!--        <property name="userService" ref="userService"/>-->
<!--    </bean>-->

    <!-- 这个是控制器层对象 -->
    <bean id="userServlet" class="com.ineyee._02_staticproxy.servlet.UserServlet">
        <!-- 这里给控制器层注入的是业务层代理对象 -->
        <property name="userService" ref="userServiceProxy"/>
    </bean>
</beans>