<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="userService" class="com.ineyee._01_beforeproxypattern.service.UserServiceImpl"/>
    <bean id="userServlet" class="com.ineyee._01_beforeproxypattern.servlet.UserServlet">
        <property name="userService" ref="userService"/>
    </bean>
</beans>