<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<!--
    configuration 标签里的内容必须按下面的顺序编写：
        1、properties (可选)
        2、settings (可选)
        3、typeAliases (可选)
        4、typeHandlers (可选)
        5、objectFactory (可选)
        6、objectWrapperFactory (可选)
        7、reflectorFactory (可选)
        8、plugins (可选)
        9、environments (可选)
        10、databaseIdProvider (可选)
        11、mappers (可选)
-->
<configuration>
    <!-- 其它设置 -->
    <settings>
        <!--
            是否开启驼峰命名自动映射，即数据库表自动转 Java Bean 时是否从经典数据库列名 create_time 映射到经典 Java 属性名 createTime
            默认 false
        -->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>


    <!--
        typeAliases，用来给 xml 文件里的类型取别名，如 type、parameterType、resultType 这种以 type 结尾的属性都是接收一个类型
        包名.类名，全类名，比较长；我们可以给全类名取个别名，短类名，比较短，写起来更方便；当然如果你偏好于写全类名，那也可以不定义别名
    -->
    <typeAliases>
        <!--
            type 属性：包名.类名，全类名
            alias 属性：别名，短类名，类名一般用大驼峰
        -->
        <typeAlias type="common.DruidDataSourceFactory" alias="Druid"/>
        <typeAlias type="bean.UserBean" alias="UserBean"/>
    </typeAliases>

    <!-- 插件 -->
    <plugins>
        <!-- 拦截器设置为 PageHelper 的 PageInterceptor -->
        <plugin interceptor="com.github.pagehelper.PageInterceptor">
            <!--
                reasonable 设置为 true，代表使分页查询合理化：
                    当 pageNum <= 0 时，自动返回第一页的数据
                    当 pageNum > totalPage 时，自动返回最后一页的数据
            -->
            <property name="reasonable" value="true"/>
        </plugin>
    </plugins>

    <!--
        环境，一个环境对应一个数据库
        开发阶段，我们可以把默认环境设置为开发环境，从而访问测试数据库
        生产阶段，我们可以把默认环境设置为生产环境，从而访问正式数据库
    -->
    <environments default="dev">
        <!-- 开发环境，开发环境我们访问的是测试数据库，这里假设 db_hello_mysql 就是测试数据库 -->
        <environment id="dev">
            <!-- 固定为 JDBC，代表采用 JDBC 的事务管理方式 -->
            <transactionManager type="JDBC"/>
            <!-- 采用 Druid 三方连接池来管理连接 -->
            <dataSource type="Druid">
                <!--
                    com.mysql.jdbc.Driver：MySQL 数据库驱动库的类名

                    jdbc:mysql://：MySQL 的固定写法
                    localhost、3306：域名和端口号
                    db_hello_mysql：数据库的名称
                    serverTimezone=UTC：推荐设置当前会话时区为零时区，以便 MySQL 能正确处理 DATETIME、TIMESTAMP 字段
                        因为 DATETIME、TIMESTAMP 字段的默认值是获取服务器所在时区的时间，如服务器 1 部署在东八区，服务器 2 部署在西八区， 那么
                        用户 1 通过东八区的服务器注册时存储在数据库的 createTime 就是东八区的时间 "2025-06-17 17:59:00"、并且没有携带时区信息
                        用户 2 通过西八区的服务器注册时存储在数据库的 createTime 就是西八区的时间 "2025-06-17 09:59:00"、并且没有携带时区信息
                        这样在西八区展示东八区用户的 createTime 就会有问题，因为我们不知道 "2025-06-17 17:59:00" 是东八区的、也没法转换为西八区对应的时间
                        因此我们统一把 DATETIME、TIMESTAMP 字段都设置成零时区的，各个区在拿到时间后转换成自己时区的时间展示即可

                    root、mysqlroot：数据库的用户名和密码

                    initialSize、maxActive：初始化创建几条连接、最大连接数
                -->
                <property name="driverClassName" value="com.mysql.cj.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://localhost:3306/db_hello_mysql?serverTimezone=UTC"/>
                <property name="username" value="root"/>
                <property name="password" value="mysqlroot"/>
                <property name="initialSize" value="5"/>
                <property name="maxActive" value="10"/>
            </dataSource>
        </environment>

        <!-- 生产环境，生产环境我们访问的是正式数据库，这里假设 db_mysql 就是正式数据库 -->
        <environment id="prod">
            <!-- 固定为 JDBC，代表采用 JDBC 的事务管理方式 -->
            <transactionManager type="JDBC"/>
            <!-- 采用 Druid 三方连接池来管理连接 -->
            <dataSource type="Druid">
                <!--
                    com.mysql.jdbc.Driver：MySQL 数据库驱动库的类名

                    jdbc:mysql://：MySQL 的固定写法
                    localhost、3306：域名和端口号
                    db_mysql：数据库的名称
                    serverTimezone=UTC：推荐设置当前会话时区为零时区，以便 MySQL 能正确处理 DATETIME、TIMESTAMP 字段
                        因为 DATETIME、TIMESTAMP 字段的默认值是获取服务器所在时区的时间，如服务器 1 部署在东八区，服务器 2 部署在西八区， 那么
                        用户 1 通过东八区的服务器注册时存储在数据库的 createTime 就是东八区的时间 "2025-06-17 17:59:00"、并且没有携带时区信息
                        用户 2 通过西八区的服务器注册时存储在数据库的 createTime 就是西八区的时间 "2025-06-17 09:59:00"、并且没有携带时区信息
                        这样在西八区展示东八区用户的 createTime 就会有问题，因为我们不知道 "2025-06-17 17:59:00" 是东八区的、也没法转换为西八区对应的时间
                        因此我们统一把 DATETIME、TIMESTAMP 字段都设置成零时区的，各个区在拿到时间后转换成自己时区的时间展示即可

                    root、mysqlroot：数据库的用户名和密码

                    initialSize、maxActive：初始化创建几条连接、最大连接数
                -->
                <property name="driverClassName" value="com.mysql.cj.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://localhost:3306/db_mysql?serverTimezone=UTC"/>
                <property name="username" value="root"/>
                <property name="password" value="mysqlroot"/>
                <property name="initialSize" value="5"/>
                <property name="maxActive" value="10"/>
            </dataSource>
        </environment>
    </environments>

    <!-- 注册数据库表自动转 Java Bean 的映射文件 -->
    <mappers>
        <mapper resource="mappers/user.xml"/>
    </mappers>
</configuration>