<?xml version="1.0" encoding="UTF-8"?>
<!--
    首先得在根标签这里添加一个 property 命名空间
		约定俗称地我们会把这个命名空间取名为 p，是 property 的首字母
-->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!-- 基本数据类型、BigDecimal、字符串和自定义对象类型的全局单例对象引用可以简写 -->
    <bean id="person1" class="com.ineyee._03_dibysetter.domain.Person"
          p:partyMember="false"
          p:age="18"
          p:height="1.88"
          p:salary="666666.66"
          p:name="张三"
          p:dog-ref="dog">

        <!-- 集合不可以简写 -->
        <property name="friendList">
            <list>
                <ref bean="person2"/>
                <bean class="com.ineyee._03_dibysetter.domain.Person">
                    <property name="name" value="孙七"/>
                </bean>
            </list>
        </property>
        <property name="foodMap">
            <map>
                <entry key="breakfast" value="馒头"/>
                <entry key="lunch" value="米饭"/>
                <entry key="dinner" value="面条"/>
            </map>
        </property>
        <property name="nicknameSet">
            <set>
                <value>三三</value>
                <value>老三</value>
            </set>
        </property>
    </bean>

    <bean id="person2" class="com.ineyee._03_dibysetter.domain.Person"
          p:name="李四"
          p:dog-ref="dog">
    </bean>

    <bean id="person3" class="com.ineyee._03_dibysetter.domain.Person"
          p:name="王五">
        <!-- 自定义对象类型的局部对象不可以简写 -->
        <property name="dog">
            <bean class="com.ineyee._03_dibysetter.domain.Dog">
                <property name="name" value="泰迪"/>
            </bean>
        </property>
    </bean>

    <bean id="person4" class="com.ineyee._03_dibysetter.domain.Person"
          p:name="赵六">
        <property name="dog">
            <bean class="com.ineyee._03_dibysetter.domain.Dog">
                <property name="name" value="田园犬"/>
            </bean>
        </property>
    </bean>

    <bean id="dog" class="com.ineyee._03_dibysetter.domain.Dog"
          p:name="旺财">
    </bean>
</beans>