<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!--
        bean 标签：通过 Spring IoC 自动创建的对象都叫 bean，所以我们之前的 JavaBean 模型都要改叫 domain 了
            id 属性：当前 bean 对象的唯一标识，用于获取对象
            class 属性：要创建哪个类的对象，全类名
    -->
    <bean id="userServlet" class="com.ineyee._01_beforedi.servlet.UserServlet"/>
    <bean id="userService" class="com.ineyee._01_beforedi.service.UserServiceImpl"/>
    <bean id="userDao" class="com.ineyee._01_beforedi.dao.UserDaoImpl"/>
</beans>
